#test-div{
    background-color:aliceblue;
    height:200px;
    width:200px;
    margin:20px;
}

#matrix-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    height:200px;
}

#bottom-bracket{
    flex:1;
    height:5px;
    width:10px;
    background-color: black;
}

#top-bracket{
    flex:1;
    height:5px;
    width:10px;
    background-color: black;
}

#bracket-body{
    flex:15;
    height:auto;
    width:4px;
    background-color: black;
}

.bracket-left{
    flex:1;
    display:flex;
    flex-direction:column;
    height:auto;
    width:15px;
    /* background-color: black; */
}

.row{
    flex:1;
    background-color: aqua;
    height:100px;
    width:auto;
}

#matrix-elements{
    display:flex;
    flex-direction: column;
    flex:20;
}

.bracket-right{
    flex-flow:column wrap-reverse;
    flex:1;
    display:flex;
    flex-direction:column;
    height:auto;
    width:15px;
    /* background-color: black; */
}