#test-div{
    background-color:aliceblue;
    height:200px;
    width:200px;
    margin:20px;
}

#matrix-container{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width:50px;
    height:200px;
}

#bottom-bracket{
    height:5px;
    width:10px;
    background-color: black;
}

#top-bracket{
    height:5px;
    width:10px;
    background-color: black;
}

#bracket-body{
    flex:15;
    height:auto;
    width:4px;
    background-color: black;
}

.bracket-left{
    display:flex;
    flex-direction:column;
    height:auto;
    width:15px;
    /* background-color: black; */
}

.el{
    flex:1;
    width:10px;
    margin:10px;
}

.row{
    flex:1;
    background-color: aqua;
    /* height:100px; */
    width:auto;
}

#matrix-form{
    display:flex;
    flex-direction: column;
}

#matrix-elements{
    display:flex;
    flex-direction: column;
    flex:20;
}

.bracket-right{
    flex-flow:column wrap-reverse;
    display:flex;
    flex-direction:column;
    height:auto;
    width:15px;
    /* background-color: black; */
}